@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type="range"] {
    @apply appearance-none w-full h-[1px] bg-secondary-text outline-none opacity-100;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 bg-primary-orange rounded-full cursor-pointer border-none;
  }

  input[type="range"]::-moz-range-thumb {
    @apply appearance-none w-4 h-4 bg-primary-orange rounded-full cursor-pointer border-none;
  }
}
.mapboxgl-ctrl-top-left {
  @apply left-2 top-2 right-2 md:right-auto md:left-8 md:top-8 md:w-80 font-sans;
}
.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  @apply m-0 float-none w-full shadow-none border-[1px] border-secondary-text rounded-none;
}
input[type="text"].mapboxgl-ctrl-geocoder--input {
  @apply font-sans font-light w-full bg-white text-base md:text-small p-2 border-[1px] border-secondary-text pl-12 md:pl-9;
}
.mapboxgl-ctrl-geocoder--suggestion-title {
  @apply font-sans text-small font-light;
}

.spinner {
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
